.hnc-content-box-ribbon{
    border-left: 4px solid #ec1f27;
    position: absolute;
    background: #243a76;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    margin: auto;
    display: inline-block;
    text-align: center;
    top: -23px;
    left: -10px;
}
   .hnc-static-all-center{
      text-align: center;
      margin: 15px 0;
   }
.hnc-static-center{
		text-align: center;
      	margin: 30px auto;
    	color: red;
}
	.hnc-static-content-card{
    width: 100%;
    clear: both;
      margin-top:30px;
	}
	.hnc-content-card-box{
		width: 50%;
		float: left;
      	padding: 10px 0;
	}
.hnc-content-box-ribbon:after {
  	position: absolute;
  	right: -30px;
  	top: 0;
  	content: '';
  	width: 26px;
  	height: 32px;
	border-left: 14px solid #243a76;
    border-right: 16px solid #00000000;
    border-top: 23.5px solid #243a76;
    border-bottom: 23px solid #243a76;
}
.hnc-content-box-credit-card{
    border-left: 4px solid #ec1f27;
    position: absolute;
    background: #243a76;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    margin: auto;
    display: inline-block;
    text-align: center;
    top: -23px;
    left: -10px;
}
.hnc-content-box-credit-card:before{
	content: "\f38a";
  	font-family: 'Font Awesome 5 Pro';
  	margin-right: 15px;
}
.hnc-divided-container img{
	margin: 30px auto;
}
.hnc-static-letter-content{
    padding: 15px;
    background-color: #ffffff;
    border: 5px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #00000066;
}
.hnc-static-container a{
	font-weight: 700;
  	color: blue;
}
.hnc-static-row{
	display: table;
    width: 75%;
    table-layout: fixed;
    border-spacing: 10px;
    margin: 15px auto;
}
.hnc-static-text-nav-bar{
	width: 80%;
    margin: auto;
    overflow: auto;
}
.hnc-static-inline {
    float: left;
    padding: 12px;
    width: calc(33.333333% - 6px);
    margin-right: 9px;
    text-align: center;
    background: #ec1f27;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 30px;
}
p.hnc-static-inline:last-child{
	margin-right: 0px;
}
.hnc-static-column{
	display: table-cell;
  	padding: 15px;
}
.hnc-static-column p.hnc-static-text{
	margin: 0 35px;
}
.hnc-static-dash{
	border-bottom: 2px dashed #FF0101;
    width: 100%;
    margin: 15px 0;
}
.hnc-static-step{
	width: fit-content;
    margin: 30px auto;
    padding: 20px 30px;
    background-color: #FF0101;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
}
.hnc-static-image{
    	max-width: 900px;
    	height: auto;
    	margin: 0px auto;
    	display: block;
    }
	.hnc-static-image-container{
    	display: block;
    	width: 50%;
    	margin: 20px auto;
	}
	.hnc-static-image-center{
	    display: table;
  		width: 65%;
  		margin: 20px auto;
	}
	.hnc-static-image-center p{
  		display: table-cell;
  		text-align: center;
  		width: 30%;
	}
	.hnc-static-image-center img{
  		width: 100%;
  		max-width: 300px;
	}
    .hnc-static-nav-bar{
      width: 100%;
        overflow: auto;
    }
    .hnc-static-nav-bar a{
      float: left;
      color: #243a76;
      font-weight: 600;
      background-color: #ffffff;
      border: 1px solid #243a76;
      border-radius: 3px;
      padding: 12px;
      text-decoration: none;
      font-size: 20px;
      width: calc(33.3333333333% - 6px);
      text-align: center;
      margin-right: 9px
    }
    .hnc-static-nav-bar a:last-child{
    	margin-right: 0
    }
	.hnc-static-nav-bar a:hover{
  		background-color: #243a76;
      	color: #fff;
	}
	.hnc-list-no-style{
      list-style-type: none;
	}
  .hnc-static-heading1{
  		position: relative;
  		text-align: center;
    	font-size: 36px;
  }
  .hnc-static-heading2{
  		position: relative;
  		text-align: center;
    	color: #f00;
    	font-size: 26px;
  }
  .hnc-static-heading3{
  	font-size: 20px;
  }
  .hnc-static-heading4{
  	font-size: 18px;
  }
	.hnc-static-heading5{
      font-size: 18px;
	}
  .hnc-static-text{
  	font-size: inherit;
  }
.hnc-static-text-center{
	text-align: center;
}
	.hnc-notice-text{
		font-style: italic;
      	font-size: 16px;
      	font-weight: 700;
        padding: 10px;
        background-color: #ec1f27;
        width: fit-content;
        border-radius: 999px;
        color: #fff;
	}
  .hnc-notice-text:before{
      content: '\f06a';
      font-family: 'Font Awesome 5 Pro';
      margin-right: 5px;
      font-style: normal;
  }
  .hnc-static-li-phone:before{
	  content: '\f095' !important;
      font-family: 'Font Awesome 5 Pro';
      margin-right: 5px;
      font-style: normal;
  }
  .hnc-static-li-mail:before{
	  content: '\f0e0' !important;
      font-family: 'Font Awesome 5 Pro';
      margin-right: 5px;
      font-style: normal;
  }
  .hnc-static-table{
    	width: 100%;
    	height: 243px;
    	border: none;
    	margin: 16px 0;
    	table-layout: fixed;
    }
	.hnc-static-container li{
    	list-style-type: none;
	}
	.hnc-static-container li:before{
    	content: '\f0da';
      	font-family: 'Font Awesome 5 Pro';
        margin-right: 5px;	
      	font-weight: 900;
	}
	.hnc-static-second-li:before{
		margin-left: 15px;	
      	font-weight: 100 !important;
	}
    .hnc-static-table tr{
  	border: 1px solid #777;
  line-height: 24px;
  }
  .hnc-static-container td{
  	border-right: 1px solid #ffffff00;
  	border-left: 1px solid #ffffff00;
  	padding: 15px;
  }
  tr:nth-child(odd){
  	background-color: #c1c1c1;
  }
  tr:first-child{
  	background-color: #243a76;
  	color: white;
  }
	.hnc-content-box-container {
    position: relative;
    margin-top: 56px;
}
.hnc-static-text-in-box{
	border: 2px dashed red;
}
.hnc-content-box-title {
    position: absolute;
    background: #243a76;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 9999px;
    margin: auto;
    display: inline-block;
    text-align: center;
    top: -26px;
}

.hnc-content-box {
    border: 1px solid #e8e8e8;
    padding: 25px 30px 10px;
    border-radius: 5px;
}

.hnc-content-notice {
    display: inline-block;
    margin: auto;
    color: #ed1b24;
    padding: 5px 10px;
    border-radius: 9999px;
}
       .hnc-static-container {
        max-width: 1630px;
        margin: 30px auto;
        padding: 30px;
        background-color: #fff;
    }
#popup-bao-hanh-ho-chi-minh, #popup-bao-hanh-ha-noi, #popup-bao-hanh-hai-phong{
  bottom:50px;
  overflow-y: scroll;
}
  .hnc-static-equal{
    width: 75%;
    margin: auto;
  }
  .hnc-static-equal-half{
    width: 45%;
    margin: 15px;
    padding: 15px;
    display: inline-block;
  }
  .hnc-static-round-img{
    margin-top: 15px;
    border-radius: 50%;
  }
   .hnc-static-brand-text{
      font-size: 36px;
      font-weight: bold;
      color: white;
   }
    .hnc-static-slogan-text{
      font-weight: bold;
      font-size: 20px;
      color: white;
    }
    .hnc-static-explain-text{
      color: white;
    }
.hnc-static-button{
    display: block;
    font-weight: 700;
    border: none;
    color: #ffffff;
    background-color: #ec1f27;
    padding: 10px 20px;
    margin: auto;
    cursor: help;
  	-webkit-animation: flicker 1s infinite;
  
}
/* @-webkit-keyframes flicker
{
0% {opacity:0;}
25% {opacity:.25;}
50% {opacity:.5;}
75% {opacity:.75;}
100% {opacity:1;}
} */
.hnc-static-image-box img{
	max-width: 400px;
  	padding: 30px;
margin :0px auto;
}

a.hnc-static-link-as-button {
    margin: 15px;
    color: white;
    font-size: 1vw;
    text-align: center;
    padding: 40px 10px;
    background-color: #253a76;
    float: left;
    width: calc(31.333333% - 6px);
}